<!DOCTYPE html>
<html lang="en">
    <%-include("./partials/headAbout")  %>
  <body>
    <header>
        <!-- Let's innclude the nav trough ejs -->
        <%- include("./partials/nav") %>
    </header>
    <main>
      <section class="about-content">
        <h1>About MikMo</h1>
        <p>MikMo is a blog platform where anyone can share their thoughts and experiences with the world. Our mission is to empower people to express themselves freely and connect with others who share their interests.</p>
        <p>Whether you're a seasoned blogger or just starting out, MikMo has everything you need to create and share your content. We offer a range of customizable templates, a user-friendly editor, and powerful analytics tools to help you grow your audience and reach new readers.</p>
        <p>Thank you for choosing MikMo as your blogging platform. We look forward to seeing what you create!</p>
      </section>
    </main>
  </body>
  <%- include("./partials/footer") %>
</html>
