<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error | <%= title %></title>
  
    <style>
      /* Reset default styles */
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
      
      /* Set default font and color */
      body {
        font-family: sans-serif;
        font-size: 16px;
        line-height: 1.5;
        color: #333;
      }
  
      .site-title {
        display: flex;
        align-items: center;
        font-size: 2rem;
      }
      
      /* Style main content */
      main {
        padding: 1rem;
      }
      
      .blogs-content {
        margin-top: 2rem;
        text-align: center;
      }
      .blogs-content a {
        text-decoration: none;
        color: #000;
        transition: all .5s ease-in-out;
      }
      .blogs-content a:hover {
        color: #eee;
      }
      .blogs-content h1 {
        font-size: 3rem;
        text-align: center;
        margin-bottom: 2rem;
        color: #ffcd00;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
      }
      
      .blogs-content p {
        font-size: 1.5rem;
        line-height: 2;
        margin-bottom: 2rem;
        color: #333;
      }
  
      .blogs-content button {
        display: block;
        margin: 0 auto;
        padding: 1rem 2rem;
        font-size: 1.2rem;
        font-weight: bold;
        color: #fff;
        background-color: #ffcd00;
        border: none;
        border-radius: 2rem;
        box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
        transition: all 0.3s ease-in-out;
      }
  
      .blogs-content button:hover {
        background-color: #000;
        box-shadow: 4px 4px 6px rgba(0,0,0,0.3);
      }
    </style>
  </head>
  