<style>
    .site-title a {
        color: #333;
        text-decoration: none;
        margin-right: 1rem;
      }

      nav ul {
        display: flex;
        list-style: none;
        margin-left: auto;
      }

      nav li {
        margin-left: 1rem;
      }

      nav li:first-child {
        margin-left: 0;
      }

      nav a {
        color: #333;
        text-decoration: none;
        font-weight: bold;
        padding: 0.5rem;
        border-radius: 0.25rem;
        transition: background-color 0.2s ease;
      }

      nav a:hover {
        background-color: #333;
        color: #fff;
      }
</style>

<nav>
    <div class="site-title">
      <a href="/">MikMo</a>
      <p>A MikMo Site</p>
    </div>
    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/create-blog">New Blog</a></li>
    </ul>
  </nav>